*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.title{
    padding: 20px;
    padding-bottom: 40px;
}
.mealname{
    font-size: 40px;
}
.getRecipe-btn, .source{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: lighter;
    font-size: large;
    margin: 20px;
}
.getRecipe-btn:hover, .source:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: all 0.5s;
}
.getRecipe-btn:active, source:active {
    /* transition: 0s; */
    background-color: #686b6d;
}

.instruction, .cuisine, h4{
    
    padding: 10px;
    font-weight: lighter;
    line-height: 1.8;
    
}

.video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
img{
    width: 500px;
    height: 500px;
}